body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

header .logo {
    height: 50px;
}

header nav {
    margin-top: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.project-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#project-content {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 100%;
    height: auto;
}

.pokemon-card.caught {
    background-color: #dff0d8;
}

.about-container, .contact-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-container ul {
    text-align: left;
    margin: 20px auto;
    max-width: 600px;
}

footer {
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-container label {
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-container input,
.contact-container textarea {
    padding: 10px;
    border: 1px solid #f09494;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.contact-container button {
    padding: 10px;
    background-color: #333;
    color: #ed8686;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-container button:hover {
    background-color: #555;
}
